{% extends 'team_dashboard_base.html' %}
{% block title %} Teamwork Analysis Dashboard - Charts{%endblock title%}
{% block content %}
{% if error %}
<div class = "alert alert-danger" style="display:inline-block; margin-bottom: 50px" role="alert">
    {{error}}
</div>
{% else %}
{%load plotly_dash%}
 <!-- The charts part -->
 <div style="">
 <div style="width: 40%; margin-bottom: 30px; float: left; " class="col">
    <h2 style="margin-top: 1%">Charts View</h2>

    {% for error in errors %}
        <div class = "alert alert-danger" style="display:inline-block; margin-bottom: 50px" role="alert">
            {{error}}
        </div>
    {% endfor %}
    {% plotly_header %}
    {% plotly_direct name="generated_graphs" %}
    {% plotly_footer %}
 </div>

<!-- The filters part -->
<!-- The hidden element to be inserted -->
<div class="form-group dynamic-element" style="display: none;"  >
  <div class = "alert alert-info" style="display:inline-block;width: 100%;" role="alert">
    
  <div style="width: 40%; float: left;"> 
      <h3>Filter Options</h3> 

      <select class="form-control" name="tool_name[]" id="tool_name">
       {% for tool_name_internal, tool_name_user_view in tools_list %}
       <option value="{{tool_name_internal}}">{{tool_name_user_view}}</option>
       {% endfor %}
      </select>

      <select class="form-control" name="agg_type[]" id="agg_type">
       {% for agg_type_internal, agg_type_user_view in aggs_list %}
       <option value="{{agg_type_internal}}">{{agg_type_user_view}}</option>
       {% endfor %}
      </select>


      <div class="col-md-1">
        <p style="margin-top: 10px; margin-bottom: 10px" class="btn btn-danger delete" >Remove Filter</p>
      </div>
  </div>

  <div style="margin-top: 7%; margin-left: 45%; width:60%"> 

        <div style="width:40%; float: left;">
           <select class="form-control" name="moreless[]" id="moreless[]">
            <option value="more">More than</option>
            <option value="less">Less than</option>
          </select>
        </div>
        <div class="mb-3" style="margin-left:42%; ">
          
          <div style="width:23%; float: left;">
            <input type="text" class="form-control" id="compare_value" name="compare_value[]" rows="1" required>
          </div>
          
          <div style="margin-left:22%; width:68%;">
            <select class="form-control" name="sd[]" id="sd[]">
              <option value="abs">Exact value</option>
              <option value="sd">Value * STD</option>
            </select>
          </div>
        </div>
    </div>
  </div>
</div>
  <br>

<!-- The fix part -->
<div style="margin-top: 1%; margin-left: 45%; width:60%" class="col">
  
    <form method="post" id="dashboard_form" action="{% url 'at_risk_show' %}">
        {% csrf_token %} 
        <fieldset>
            <div class="form-container">
                <h2>Filter Teams based on Charts</h2>
                <h3>Select course:</h3>
                
                <select class="form-control" id="course" name="course" required="">
                {% for course_id, course_name in course_list %}
                  
                    <option value = {{course_id}} > {{ course_name }} </option>
                  
                {% endfor %}
                </select>

                <div class="form-group row" style="margin-top: 5%">
                    <label for="start_date" class="col-2 col-form-label">Start From</label>
                    <div class="col-10">
                        <input class="form-control" type="date" id="start_date" name="start_date" required="" value="{{start_date}}">
                    </div>
                    
                    <label for="end_date" class="col-2 col-form-label">End At</label>
                    <div class="col-10">
                        <input class="form-control" type="date" id="end_date" name="end_date" required="" value="{{end_date}}">
                    </div>
                </div>
                <h4>Select from previously defined filters:</h4>
                  <select class="form-control" name="prev_filter" id="prev_filter" style="margin-bottom: 10px">
                   <option value="">None</option>
                   {% for filter_name in all_filters %}
                   <option value="{{filter_name}}">{{filter_name}}</option>
                   {% endfor %}
                  </select>
                  
                    <div class="dynamic-stuff">

                      <!-- Dynamic element will be cloned here -->


                    </div>
                  <p style="margin-bottom: 50px" class="btn btn-primary add-one"> Add New Search Criteria</p>
                  <div class="form-check" style="margin-bottom: 10px">
                  <input class="form-check-input" type="checkbox" name="save_filter" value="save_filter" id="save_filter">
                  <label class="form-check-label" for="save_filter">
                    I want to specify a name to save this filter for later.
                  </label>
                  <input type="text" class="form-control" id="filter_name" name="filter_name" rows="1">
                  </div>

                  
                  <button style="margin-bottom: 50px" type="submit" class="btn-lg btn-success" id='submit-btn' onclick="save_inputs()">Show Filtered Teams
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id='submit-spinner' style="display: none;"></span>
                </button>
                
        </fieldset>
    </form>
</div>
</div>




{% endif %}

{% endblock content %}
