html {
    background: dodgerblue;
    font-family: Tahoma;
}

header {
    border-radius: 24px;
    border: 2px solid black;
    background: white;
    color: dodgerblue;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 4px;
}

#menu-button {
    border-radius: 24px;
    font-family: Tahoma;
    background: white;
    color: dodgerblue;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    transition-duration: 0.2s;
    border: 2px solid white;
}
#menu-button:hover, #menu-button:focus {
    color: white;
    background: dodgerblue;
    border: 2px solid black;
}
#menu-button:active {
    background-color: black;
    border: 2px solid black;
}

#menu {
    border-radius: 24px;
    display: none;
    top: 40%;
    left: 40%;
    background: white;
    border: 2px solid black;
    padding: 8px;
    margin: 4px 4px 4px 0px;
    white-space: nowrap;
}

#courses {
    display: none;
    padding: 4px;
}

#analysis {
    display: none;
    padding: 4px;
}

#help-and-feedback {
    display: none;
    padding: 4px;
}

#banner {
    font-size: 200%;
}

#profile-button {
    border-radius: 24px;
    font-family: Tahoma;
    background: white;
    color: dodgerblue;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    transition-duration: 0.2s;
    border: 2px solid white;
}
#profile-button:hover, #profile-button:focus {
    color: white;
    background: dodgerblue;
    border: 2px solid black;
}
#profile-button:active {
    background-color: black;
    border: 2px solid black;
}

#profile {
    border-radius: 24px;
    display: none;
    position: fixed;
    top: 8%;
    left: 88%;
    z-index: 1;
    font-weight: bold;
    background: white;
    border: 2px solid black;
    padding: 8px;
}

body {
    border-radius: 24px;
    color: dodgerblue;
    background: white;
    padding: 4px;
    margin: 4px;
    border: 2px solid black;
}

a {
    color: dodgerblue;
    text-decoration: none;
    transition-duration: 0.2s;
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
}
a:hover {
    color: black;
}

form {
    border-radius: 24px;
    border: 2px solid dodgerblue;
    background: white;
    color: black;
    padding: 4px;
    transition-duration: 0.2s;
    text-align: center;
}
form:hover {
    border: 2px solid black;
}

.form-element {
    padding: 2px;
}

input {
    border-radius: 24px;
    font-family: Tahoma;
    border: 2px solid dodgerblue;
    cursor: pointer;
    padding: 4px;
    transition-duration: 0.2s;
}
input:hover, input:focus {
    border: 2px solid black;
}

select {
    border-radius: 24px;
    font-family: Tahoma;
    border: 2px solid dodgerblue;
    cursor: pointer;
    font-size: 100%;
    transition-duration: 0.2s;
}
select:hover, select:focus {
    border: 2px solid black;
}

option {
    font-family: Tahoma;
}

hr {
    border: 1px solid black;
    background: black;
}

.body {
    display: flex;
    flex-direction: row;
}

#dashboard {
    min-width: 0;
    width: 100%;
}

#add-a-course-button, #enroll-a-student-button {
    border-radius: 24px;
    font-family: Tahoma;
    background: white;
    color: green;
    border: 2px solid green;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.2s;
    margin: 4px 0px 4px 0px;
    width: 50%;
}
#add-a-course-button:hover, #add-a-course-button:focus, #enroll-a-student-button:hover, #enroll-a-student-button:focus {
    color: white;
    background-color: green;
    border: 2px solid black;
}
#add-a-course-button:active, #enroll-a-student-button:active {
    color: white;
    background-color: darkgreen;
    border: 2px solid black;
}

#add-a-course, #enroll-a-student, #add-a-module {
    border-radius: 24px;
    display: none;
    position: fixed;
    top: 40%;
    left: 20%;
    z-index: 1;
    padding: 4px;
    transition: all 0.5s ease-out;
}

#search {
    display: flex;
    justify-content: space-between;
}

#search-form {
    display: flex;
    justify-content: space-between;
    border: none;
    margin: none;
    padding: none;
    width: 50%;
    text-align: left;
}

#search-bar {
    border-radius: 24px;
    font-family: Tahoma;
    border: 2px solid dodgerblue;
    transition-duration: 0.2s;
    padding: 4px;
    width: 100%;
}
#search-bar:hover, #search-bar:focus {
    border: 2px solid black;
}

#search-button {
    border-radius: 24px;
    font-size: 88%;
    background: white;
    color: black;
    border: 2px solid dodgerblue;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 4px;
}
#search-button:hover, #search-button:focus {
    color: white;
    background-color: dodgerblue;
    border: 2px solid black;
}
#search-button:active {
    background-color: black;
    border: 2px solid black;
}

.active-courses, .inactive-courses {
    overflow-x: scroll;
}

.course {
    border-radius: 24px;
    border: 2px solid dodgerblue;
    color: black;
    background: white;
    padding: 4px;
    margin: 4px 0px 4px 0px;
    overflow: hidden;
    transition-duration: 0.2s;
}
.course:hover {
    border: 2px solid black;
}

.analysis {
    border-bottom: 2px solid black;
    padding: 4px;
}

.name {
    display: inline-block;
    padding: 8px 0px 0px 0px;
}

.options {
    display: inline-block;
    float: right;
    padding: 4px 0px 0px 0px;
}

.edit-button, .edit-a-module-button {
    border-radius: 24px;
    font-family: Tahoma;
    margin: 2px;
    background: white;
    color: goldenrod;
    border: 2px solid goldenrod;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 4px;
}
.edit-button:hover, .edit-button:focus, .edit-a-module-button:hover, .edit-a-module-button:focus {
    color: white;
    background-color: goldenrod;
    border: 2px solid black;
}
.edit-button:active, .edit-a-module-button:active {
    background-color: darkgoldenrod;
    border: 2px solid black;
}

#edit, #edit-a-module {
    border-radius: 24px;
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 1;
}

.delete-button, .cancel-button, .unenroll-a-student-button, .delete-a-module-button {
    border-radius: 24px;
    margin: 2px;
    font-family: Tahoma;
    background: white;
    color: red;
    border: 2px solid red;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 4px;
}
.delete-button:hover, .delete-button:focus, .cancel-button:hover, .cancel-button:focus, .unenroll-a-student-button:hover, .unenroll-a-student-button:focus, .delete-a-module-button:hover, .delete-a-module-button:focus {
    color: white;
    background-color: red;
    border: 2px solid black;
}
.delete-button:active, .cancel-button:active, .unenroll-a-student-button:active, .delete-a-module-button:active {
    background-color: darkred;
    border: 2px solid black;
}

#delete, #unenroll-a-student, #delete-a-module {
    border-radius: 24px;
    display: none;
    position: fixed;
    top: 40%;
    left: 20%;
    z-index: 1;
}

.submit-button {
    border-radius: 24px;
    font-family: Tahoma;
    margin: 2px;
    background: white;
    color: green;
    border: 2px solid green;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 4px;
}
.submit-button:hover, .submit-button:focus {
    color: white;
    background-color: green;
    border: 2px solid black;
}
.submit-button:active {
    background-color: darkgreen;
    border: 2px solid black;
}

.coursebody {
    display: flex;
    flex-direction: column;
}

.coursename {
    display: inline-block;
    padding: 8px 0px 12px 4px;
}
.courseoptions {
    display: inline-block;
    float: right;
    padding: 4px 0px 0px 0px;
}

.enrollment-and-metric {
    display: flex;
    align-items: flex-start;
}

.enrollment {
    border-radius: 24px;
    border: 2px solid black;
    color: dodgerblue;
    background: white;
    padding: 8px;
    margin: 0px 2px 4px 0px;
}

#enroll-a-student-button {
    border-radius: 24px;
    font-family: Tahoma;
    background: white;
    color: green;
    border: 2px solid green;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.2s;
    margin: 4px 0px 4px 0px;
    padding: 4px;
    width: 100%;
}
#enroll-a-student-button:hover, #enroll-a-student-button:focus {
    color: white;
    background-color: green;
    border: 2px solid black;
}
#enroll-a-student-button:active {
    color: white;
    background-color: darkgreen;
    border: 2px solid black;
}

.student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-radius: 24px;
    padding: 0px 0px 0px 8px;
    margin: 0px 0px 2px 0px;
    border: 2px solid dodgerblue;
    transition-duration: 0.2s;
    white-space: nowrap;
}
.student:hover {
    border: 2px solid black;
    color: dodgerblue;
}

.metric {
    border-radius: 24px;
    border: 2px solid black;
    color: black;
    padding: 8px;
    margin: 0px 0px 4px 2px;
    width: 100%;
}

.modules {
    border-radius: 24px;
    border: 2px solid black;
    color: dodgerblue;
    padding: 8px;
    margin: 0px 0px 4px 2px;
    display: flex;
    flex-direction: row;
}

#add-a-module-button {
    border-radius: 24px;
    font-family: Tahoma;
    background: white;
    color: green;
    border: 2px solid green;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.2s;
    padding: 4px;
    width: 100%;
}
#add-a-module-button:hover, #add-a-module-button:focus {
    color: white;
    background-color: green;
    border: 2px solid black;
}
#add-a-module-button:active {
    color: white;
    background-color: darkgreen;
    border: 2px solid black;
}

.module {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-radius: 24px;
    margin: 0px 4px 0px 0px;
    padding: 0px 8px 0px 8px;
    border: 2px solid dodgerblue;
    transition-duration: 0.2s;
    white-space: nowrap;
}
.module:hover {
    border: 2px solid black;
    color: dodgerblue;
}

footer {
    border-radius: 24px;
    border: 2px solid black;
    background: white;
    color: dodgerblue;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 4px;
}