{% extends '_base.html' %}
{% block content %}
<div class="card text-center">

</div>

<div class="card-body">

<table class="table">

<tr>
        <th>Student ID</th>
        <th>Enrolled Time</th>
        <th>Actions</th>
    </tr>

    <tboday>
    {% for student in student_list %}
    <tr>
        <td>{{ student.id}} </td>
        <td>{{ student.timestamp }} </td>
         <td>
            <a class="btn btn-primary" href="{% url 'view_student_stat' student.id %}" role="button"> view </a>
        </td>

    </tr>
    {% endfor %}
</tboday>
</table>
</div>

{% endblock content %}
